body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fafafa;
}

header {
    background: #A100FF;
    padding: 1rem;
    text-align: center;
    color: white;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover,
.ativo {
    text-decoration: underline;
}

.banner {
    padding: 4rem 1rem;
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.3)),
        url("https://images.unsplash.com/photo-1521334884684-d80222895322?auto=format&fit=crop&w=1600&q=80")
        center/cover;
    color: white;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 10px 25px;
    background: white;
    color: #A100FF;
    border-radius: 20px;
    font-weight: bold;
    text-decoration: none;
}

.btn:hover {
    background: #f2d4ff;
}

.conteudo {
    padding: 2rem;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 1rem;
}

.item {
    background: white;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
    transition: .3s;
}

.item:hover {
    transform: scale(1.05);
}

.item img {
    width: 100%;
    border-radius: 10px;
}

form {
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #bbb;
}

button {
    padding: 10px;
    background: #A100FF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #7a00c2;
}

footer {
    background: #A100FF;
    text-align: center;
    color: white;
    padding: 1rem 0;
    margin-top: 2rem;
}